* {
  font-family: 'Courier New', Courier, monospace;
  font-size: xx-large;
  color: blue;
}

#body {
  background-color: honeydew;
}

#header {
  background-color: indianred;
  
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}